<h1><%= @event.name%></h1>

<h3>Hosted by
    <%=@event.user.name%>
</h3>

<div style="width: 80%; height: 300px; border: 1px solid black; margin-bottom: 5px" class="">

    <img class="col-xs-6" style="height: 150px; margin-bottom: 10px; margin-top: 10px" src="<%= @event.image_url%>">

    <iframe class="col-xs-6 video-frame" style="; margin-bottom: 10px; margin-top: 10px" src="<%= @event.video_url%>" frameborder="0" allowfullscreen></iframe>

    <div style="margin-left: 20px">
        <p>Name:
            <%=@event.name%>
        </p>
        <p>Date:
            <%=@date%>
        </p>
        <p>Location:
            <%=@event.location%>
        </p>
        <p>Capacity:
            <%=@event.capacity%>
        </p>
    </div>

</div>

<h1>Add your own friends to this event:</h1>

<form class="form-horizontal" action="/friend" method="post">

    <% if @friends.any?() %>
        <select name="option" id="option">
            <% @friends.each() do |friend| %>
            <option value=<%friend.id%>><%=friend.name%></option>
            <% end %>
        </select>
        <button class="btn btn-info" type="submit" class="btn">Submit</button>
    <% else %>
        <h3>You have no friends yet!</h3>
    <% end %>

</form>
