<h1> All invitations</h1>
  <% if @invitations.any?() %>
    <%@invitations.each do |invitation|%>
      <a href ="/event/<%=invitation.event.id%>"><%=invitation.event.name%></a> - Invited by: <a href ="/user/<%=invitation.sender.id%>"><%=invitation.sender.name%></a>
      <form action='/accept/<%=invitation.id%>' method='post'>
        <input type="hidden" name="_method" value="patch">
        <button class='btn btn-success'>Accept</button>
      </form>
      <form action='/reject/<%=invitation.id%>' method='post'>
        <input type="hidden" name="_method" value="patch">
        <button class='btn btn-danger'>Reject</button>
      </form>
    <%end%>
  <%else%>
    None
  <%end%>

  <h1> All your accepted events below:</h1>
  <% @user.attendee.each() do |attendee|%>
  <a href="/event/<%=attendee.event_id%>"><li><%=attendee.event.name%></li></a>
  <%end%>

<h1>Create Event:</h1>

<form class="form-horizontal" action="/event" method="post">
  <input type="hidden" name="user_id" value="<%= @user.id%>">
  <div class="form-group">
    <label class="col-sm-1" for="name">Name:</label>
    <input class="col-sm-4" type="text" name="name" id="name" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-1" for="date">Date:</label>
    <input class="col-sm-4" type="datetime-local" name="date" id="date" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-1" for="location">Location:</label>
    <input class="col-sm-4" type="text" name="location" id="location" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-1" for="capacity">Capacity:</label>
    <input class="col-sm-4" type="number" name="capacity" min="1" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-1" for="description">Description:</label>
    <input class="col-sm-4" type="text" name="description" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-1" for="image_url">Image URL:</label>
    <input class="col-sm-4" type="text" name="image_url" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-1" for="video_url">Video URL:</label>
    <input class="col-sm-4" type="text" name="video_url" value="">
  </div>
    <button class="btn btn-default" type="submit">Submit</button>
</form>


<hr>
