<!DOCTYPE html>
    <html>
      <head>
        <title>Project X</title>
        <link rel='stylesheet' href='https://bootswatch.com/flatly/bootstrap.min.css'>
        <link rel='stylesheet' href=<%=url('/styles.css')%>>
      </head>
      <body>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home">Project X</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <%if session[:user_id] != nil%>
                  <li style="margin:15px 0 0 10px">
                      <form action='/search'>
                        <input type='text' name='keyword' placeholder="Search..."/>
                        <button class='btn-sm btn-primary'type="submit">Search</button>
                      </form>
                  </li>
                <%end%>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <%if session[:user_id] == 1%>
                  <li><a href="/admin">Admin</a></li>
                <%end%>
                <li><a href="#">About</a></li>
                <li><a href="/profile"><%=session[:username]%></a></li>
                <li style="margin:15px 0 0 10px">
                  <form action='/logout'>
                     <button>Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="col-md-10">
          <%= yield %>
        </div>
        <div>
        <div class="col-md-2 friendbar">
          <h4>Friends</h4>
          <%if @user != nil %>
            <% @user.find_friends.each() do |friend| %>
            <a href="/user/<%=friend.id%>"><li> <%=friend.name %> </li></a>
            <%end%>
          <%end%>
        </div>



      </body>
    </html>
