
<h1><%= @supplier.name%></h1>

<img style="height: 100px" src="<%= @supplier.logo_url%>">

<h3>Expertise: <%= @supplier.expertise%></h3>
<p><%= @supplier.description%></p>

<h3>Cost per person: $<%= @supplier.cost_per_person%></h3>

<h3>Categories:</h3>
<% @supplier.categories.each() do |category|%>
<li><%=category.name%></li>
<%end%>

<form class="form-horizontal" action="/category_suppliers" method="post">
  <input name="id" value="<%= @supplier.id%>" type="hidden">
  <div class="form-group">
    <label class="col-sm-1" for="name">Category:</label>
    <select class="col-sm-4" type="text" name="category_id">
      <% @categories.each() do |category|%>
      <option value="<%= category.id%>"><%= category.name%></option>
      <% end %>
    </select>
  </div>
    <button class="btn btn-default" type="submit">Add a category</button>
</form>

<br>

<div class="update_supplier">
  <form class="form-horizontal" id="update_supplier_id" action="/suppliers/<%= @supplier.id()%>" method="post">
    <input name="_method" value="patch" type="hidden">

    <div class="form-group">
      <label class="col-sm-1" for="name">Name:</label>
      <input class="col-sm-4" type="text" name="name" value="" placeholder="<%= @supplier.name()%>">
    </div>
    <div class="form-group">
      <label class="col-sm-1" for="expertise">Expertise:</label>
      <input class="col-sm-4" type="text" name="expertise" value="" placeholder="<%= @supplier.expertise()%>">
    </div>
    <div class="form-group">
      <label class="col-sm-1" for="cost_per_person">Cost per person:</label>
      <input class="col-sm-4" type="text" name="cost_per_person" value="" placeholder="<%= @supplier.cost_per_person()%>">
    </div>
    <div class="form-group">
      <label class="col-sm-1" for="description">Description:</label>
      <input class="col-sm-4" type="text" name="description" value="" placeholder="<%= @supplier.description()%>">
    </div>
    <div class="form-group">
      <label class="col-sm-1" for="logo_url">Logo URL:</label>
      <input class="col-sm-4" type="text" name="logo_url" value="" placeholder="<%= @supplier.logo_url()%>">
    </div>
    <button class="btn btn-default" type="submit">Update</button>
  </form>
</div>

<div class="delete_supplier">
  <form action="/suppliers/<%= @supplier.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button class="btn btn-default" type="submit">Delete </button>
  </form>
</div>
